<phpunit>
	<testsuites>
		<testsuite name="date night test">
			<file>ProfileTest.php</file>
			<!--<file>ActivityTest.php</file>-->
			<!--<file>FavoriteTest.php</file>-->
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>